svg {
    overflow: visible;
}
circle {
    vector-effect: non-scaling-stroke;
}
path {
    vector-effect: non-scaling-stroke;
}

html, body {
    touch-action: none;
}
/*div {*/
/*    @apply transition-transform;*/
/*}*/

button {
    @apply active:scale-90 transition-transform hover:scale-105;

    -webkit-backface-visibility: hidden;
}